{% extends "base.html" %}
{% load static %}

{% block meta_description %}Dissagram — Have A Word.{% endblock %}
{% block body_class %}home-page{% endblock %}

{% block content %}


<section class="hero-section">

    <div class="hero-overlay"></div>

    <div class="hero-content container">


        <h2 class="hero-tagline"><i class="fa-solid fa-crosshairs"></i>
             Everyone’s a Target <i class="fa-solid fa-crosshairs"></i><br>
            <i class="fa-solid fa-fire"></i> We Just Aim Better <i class="fa-solid fa-fire"></i>
        </h2>

       

    </div>

</section>

<section class="manifesto-section">

    <div class="container text-center">

        <p>
            You can't diss your boss . . .
        </p>

        <p>
            You can't diss your mother-in-law . . .
        </p>

        <p>
            You can't diss your politicians . . .
        </p>

        <p>
            Hell, you can't even diss your frenemies  . . .
        </p>

        <h2>
            But we sure can!
        </h2>

        <br>

        <br>

           <p>
            Have a word with .....
        </p>

        <br>

         <h1 class="hero-logo">
            🔥 Dissagram
        </h1>

        <br>

        <br>

         <br>

         <div class="hero-buttons">
            <a href="{% url 'home:how_it_works' %}" class="btn btn-danger">
                How It Works 🎯
            </a>

            <a href="{% url 'roasts:roast_feed' %}" class="btn btn-outline-light">
                Check Roast Feed 💀
            </a>
        </div>

    </div>

</section>

{% endblock %}